In [1]:
#import libraries
from sklearn import preprocessing
import pandas as pd

#import different ML classifiers
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

#import ML evaluation metrics
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn import metrics, model_selection

In [ ]:
#import library for accesssing Google Drive from Google Colab
from google.colab import drive
drive.mount('/content/drive')

In [5]:
#read CSV (dataset) file
df = pd.read_csv('/content/drive/MyDrive/datasets/gender-prediction.csv')
df

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
75      65      99    no       short         39   yes     green  female
76      61      98    no       short         37    no     brown  female
77      67     119   yes       short         40    no     black    male
78      70     190   yes      medium         43    no      gray    male
79      62     142   yes        long         37    no      blue  female

[80 rows x 8 columns]

In [7]:
#seperate dependent (output) and independent (input) variables
x = df.drop(['gender'], axis=1)
# x = df.drop(['gender', 'eye_color', 'shoe_size'], axis=1)
y = df['gender']

In [10]:
labels = preprocessing.LabelEncoder()
y_encoded = labels.fit_transform(y)
y_encoded

array([1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0])

In [9]:
x['beard'] = labels.fit_transform(x['beard'])
x['hair_length'] = labels.fit_transform(x['hair_length'])
x['scarf'] = labels.fit_transform(x['scarf'])
x['eye_color'] = labels.fit_transform(x['eye_color'])
x

    height  weight  beard  hair_length  shoe_size  scarf  eye_color
0       71     176      1            3         44      0          0
1       68     165      0            0         41      0          0
2       62     132      0            2         37      1          1
3       65     138      0            1         38      0          3
4       70     197      1            2         43      0          3
..     ...     ...    ...          ...        ...    ...        ...
75      65      99      0            3         39      1          4
76      61      98      0            3         37      0          2
77      67     119      1            3         40      0          0
78      70     190      1            2         43      0          3
79      62     142      1            1         37      0          1

[80 rows x 7 columns]

# Question 2

## Standard Train/Test Split

In [11]:
#make train/test split
X_train, x_test, Y_train, y_test = train_test_split(x, y_encoded, test_size = 0.33, random_state = 2)

### Random Forest

In [16]:
model = RandomForestClassifier()

#train the Random Forest Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

100.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00        17

    accuracy                           1.00        27
   macro avg       1.00      1.00      1.00        27
weighted avg       1.00      1.00      1.00        27

### SVC

In [17]:
model = SVC()

#train the SVC Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

#generate classification report
model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

77.77777777777779
              precision    recall  f1-score   support

           0       0.70      0.70      0.70        10
           1       0.82      0.82      0.82        17

    accuracy                           0.78        27
   macro avg       0.76      0.76      0.76        27
weighted avg       0.78      0.78      0.78        27

### MLPC Model

In [18]:
model = MLPClassifier()

#train the MLPC Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

#generate classification report
model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

92.5925925925926
              precision    recall  f1-score   support

           0       0.90      0.90      0.90        10
           1       0.94      0.94      0.94        17

    accuracy                           0.93        27
   macro avg       0.92      0.92      0.92        27
weighted avg       0.93      0.93      0.93        27

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

## 80/20 Split

In [19]:
#make train/test split
X_train, x_test, Y_train, y_test = train_test_split(x, y_encoded, test_size = 0.2, random_state = 2)

### Random Forest

In [20]:
model = RandomForestClassifier()

#train the Random Forest Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

100.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00        10

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

### SVC

In [21]:
model = SVC()

#train the SVC Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

#generate classification report
model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

81.25
              precision    recall  f1-score   support

           0       0.80      0.67      0.73         6
           1       0.82      0.90      0.86        10

    accuracy                           0.81        16
   macro avg       0.81      0.78      0.79        16
weighted avg       0.81      0.81      0.81        16

### MLPC Model

In [22]:
model = MLPClassifier()

#train the MLPC Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

#generate classification report
model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

62.5
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         6
           1       0.62      1.00      0.77        10

    accuracy                           0.62        16
   macro avg       0.31      0.50      0.38        16
weighted avg       0.39      0.62      0.48        16

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Excluding 2 columns, 80/20 Split

In [45]:
x_small = x.drop(['beard', 'scarf'], axis=1)
x_small

    height  weight  hair_length  shoe_size  eye_color
0       71     176            3         44          0
1       68     165            0         41          0
2       62     132            2         37          1
3       65     138            1         38          3
4       70     197            2         43          3
..     ...     ...          ...        ...        ...
80      62     101            1         38          0
81      64     103            2         40          2
82      69     173            3         42          0
83      72     185            3         43          2
84      65     120            1         37          1

[85 rows x 5 columns]

In [46]:
#make train/test split
X_train, x_test, Y_train, y_test = train_test_split(x_small, y_encoded, test_size = 0.2, random_state = 2)

### Random Forest

In [47]:
model = RandomForestClassifier()

#train the Random Forest Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

94.11764705882352
              precision    recall  f1-score   support

           0       0.86      1.00      0.92         6
           1       1.00      0.91      0.95        11

    accuracy                           0.94        17
   macro avg       0.93      0.95      0.94        17
weighted avg       0.95      0.94      0.94        17

### SVC

In [48]:
model = SVC()

#train the SVC Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

#generate classification report
model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

88.23529411764706
              precision    recall  f1-score   support

           0       1.00      0.67      0.80         6
           1       0.85      1.00      0.92        11

    accuracy                           0.88        17
   macro avg       0.92      0.83      0.86        17
weighted avg       0.90      0.88      0.88        17

### MLPC Model

In [49]:
model = MLPClassifier()

#train the MLPC Model using the data (training data)
model.fit(X_train,Y_train)

#make prediction using the trained model
prediction = model.predict(x_test)

#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

#generate classification report
model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

94.11764705882352
              precision    recall  f1-score   support

           0       1.00      0.83      0.91         6
           1       0.92      1.00      0.96        11

    accuracy                           0.94        17
   macro avg       0.96      0.92      0.93        17
weighted avg       0.95      0.94      0.94        17

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

# Question 3

## Monte Carlo

In [29]:
from sklearn.model_selection import cross_val_score
from  sklearn.model_selection import ShuffleSplit
from sklearn.tree import DecisionTreeClassifier

In [30]:
mc = ShuffleSplit(n_splits=5,test_size=0.33,random_state=2)
model = DecisionTreeClassifier()

In [32]:
#train the Decision Tree Model using the data (training data)
dec_tree = DecisionTreeClassifier()
mean_score = cross_val_score(dec_tree, x, y_encoded, scoring="f1", cv = mc).mean()
mean_score

0.9548182283666156

## Leave p out

In [33]:
from sklearn.model_selection import LeavePOut

In [34]:
dec_tree = DecisionTreeClassifier()
lpo=LeavePOut(p=2)
lpo.get_n_splits(x)
score=cross_val_score(dec_tree, x, y_encoded, cv=lpo).mean()
score

0.9414556962025317

# Question 4

In [35]:
df = pd.read_csv('/content/drive/MyDrive/datasets/gender-prediction - 5 exmp added.csv')
df

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
80      62     101    no        long         38   yes     black  female
81      64     103    no      medium         40    no     brown  female
82      69     173   yes       short         42    no     black    male
83      72     185   yes       short         43    no     brown    male
84      65     120    no        long         37   yes      blue  female

[85 rows x 8 columns]

In [36]:
#seperate dependent (output) and independent (input) variables
x = df.drop(['gender'], axis=1)
y = df['gender']

In [37]:
labels = preprocessing.LabelEncoder()
y_encoded = labels.fit_transform(y)

In [38]:
x['beard'] = labels.fit_transform(x['beard'])
x['hair_length'] = labels.fit_transform(x['hair_length'])
x['scarf'] = labels.fit_transform(x['scarf'])
x['eye_color'] = labels.fit_transform(x['eye_color'])
x

    height  weight  beard  hair_length  shoe_size  scarf  eye_color
0       71     176      1            3         44      0          0
1       68     165      0            0         41      0          0
2       62     132      0            2         37      1          1
3       65     138      0            1         38      0          3
4       70     197      1            2         43      0          3
..     ...     ...    ...          ...        ...    ...        ...
80      62     101      0            1         38      1          0
81      64     103      0            2         40      0          2
82      69     173      1            3         42      0          0
83      72     185      1            3         43      0          2
84      65     120      0            1         37      1          1

[85 rows x 7 columns]

In [39]:
#make train/test split
X_train, x_test, Y_train, y_test = train_test_split(x, y_encoded, test_size = 0.05, random_state = 2)

In [40]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [41]:
#train the Gaussian Naive Bays Model using the data (training data)
model.fit(X_train,Y_train)

GaussianNB()

In [42]:
#make prediction using the trained model
prediction = model.predict(x_test)

In [43]:
#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction)*100
print(model_acc)

80.0

In [44]:
#generate classification report
model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       1.00      0.50      0.67         2
           1       0.75      1.00      0.86         3

    accuracy                           0.80         5
   macro avg       0.88      0.75      0.76         5
weighted avg       0.85      0.80      0.78         5